* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(112, 146, 173);;
}

header {
    background: white;
    padding: 1em 2em;
}

header a {
    color: rgb(112, 146, 173);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.site-id h1 {
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
}

footer {
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
}

footer nav ul {
    justify-content: center;
}

main {
    padding: 0 0 3em 0;
    min-height: 80vh;
    
}

section {
    padding: 3em 1em;
}

.hero {
    display: grid;
    align-content: center;
    text-align: center;
    background-image: url('https://picsum.photos/id/1015/1800/500/?blur');
    background-position: left top;
    background-size: cover;
    min-height: 50vh;
    color: white;
}

.hero h2 {
    font-size: 5em;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 600px;
    margin: 1em auto;
}

.lists {
    background-image: linear-gradient(white);
}

.lists .container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

@media (max-width:767px) {
    .lists .container {
        grid-template-columns: 1fr 1fr;
    }
}

.page-sub .hero {
    min-height: 30vh;
    background-image: linear-gradient(lightyellow, pink);
}

.blog-archives {
    max-width: 600px;
    margin: 0 auto;
}

.blog-entry {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
}

.date {
    opacity: .5;
    font-size: .8em;
}

.page-sub.page-blog .lists {
    background: white;
}

.page-sub.page-about .lists {
    background-image: linear-gradient(pink, white);
}

.page-sub.page-about footer a {
    color: pink;
}

.page-sub.page-blog footer a {
    color: pink;
}

.page-sub.page-about .lists a {
    color: rgb(172, 71, 118);
}

.page-sub.page-blog .blog-archives a {
    color: pink;
}

.page-sub.page-blog header a {
    color: pink;
}

.page-sub.page-about header a {
    color: pink;
}

/* SLIDESHOW */

#slideshow img {
    width: 700px;
    height: 300px;
    transition: .3s ease-in-out;
}

#slideshow img:hover {
    opacity: 0.5;
}

#a1, #a2, #a3, #a4 {
    width: 700px;
    height: 300px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

#slideshow-container {
    width: 700px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

#slideshow {
    width: 1000%;
    animation: slideshow 20s infinite;
}


@keyframes slideshow {
    0%, 10%, 100% {margin-left: 0;}
    20%, 30% {margin-left: -700px;}
    40%, 50% {margin-left: -1400px;}
    60%, 70% {margin-left: -2100px;}
    80% {margin-left: 0;}
}

.slideshow-header {
    display: grid;
    align-content: center;
    justify-content: center;
    max-height: 10vh;
    margin: 1em;
    text-transform: uppercase;
}